@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --background:#404eed;
    --background-input: #23272a;
    --color-input: #dcddde;
    --text-color: #ffffff;
    --text-sencudary-color: #b9bbbe;
    --link-color: #00aff4;
    --red-color: #ed4245;
    --button-color: #5865f2;
}

section {
    overflow: hidden;
}

.section {
    width: 100%;
    height: 650px;
    overflow: hidden;


}

.background__azul {
    background: var(--background);
    background-size: cover;
    background-position: center center;
}

.section__home {
    position: relative;
    display: flex;
    justify-content: center;
}

.img__background {
    position: absolute;
    z-index: 0;
    bottom: 0;
}


.main__content {
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;


}

.aside {
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;
}

.aside nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;

}

.aside nav ul {
    display: flex;
    gap: 40px;
    width: 100%;
}

.aside nav ul li {
    list-style: none;
    height: 100%;
}

.logo__discord {
    width: 124px;
    height: 34px;
    margin-right: 140px;
}

.logo__discord svg {
    color: var(--text-color);
    cursor: pointer;
}

.aside nav ul li a {
    font-size: 16px;
    line-height: 24.4px;
    font-weight: 600;
    text-decoration: none;

    color: var(--text-color);
}

.aside nav ul li a:hover {
    text-decoration: underline;
}

.aside button {
    width: 68px;
    height: 40px;
    border-radius: 40px;
    /* margin-left: 212px; */
    margin-right: 20px;
    cursor: pointer;
    border: none;
}

.aside a > button {
    text-decoration: none;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    text-transform: capitalize;
    background: var(--text-color);
}

section main {
    display: grid;
    align-items: flex-end;
    height: 100%;
    max-width: 1600px; 
    grid-template-columns: 1fr 1fr 1fr;
}

section main .image__1, section main .image__2 {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

section main .image__1 img {
    position: absolute;
    width: 689px;
    height: 352px;
    bottom: 0;
    left: -410px;
}

section main .image__2 img {
    position: absolute;
    width: 615px;
    height: 360px;
    bottom: 0;
    right: -330px;

}

.home__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.home__container h1 {
    display: block;
    font-size: 80px;
    line-height: 68.2px;
    font-weight: 800;
    letter-spacing: 3px;
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 50px;

    font-family: 'Bebas Neue', cursive;
    color: var(--text-color);
}

.home__container p {
    font-size: 22px;
    font-weight: 400;
    line-height: 32.5px;
    width: 920px;

    text-align: center;
    color: var(--text-color);
    z-index: 2;
    
}

.buttons__home {
    position: relative;
    display: grid;
    gap: 0;
    grid-template-columns: 1.5fr 2fr;
}

.buttons__home  button {
    height: 56px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;

    padding: 18px 34px;
    margin-right: 24px;
    margin-top: 50px;

    cursor: pointer;
    border: none;
    border-radius: 25px;
    z-index: 2;
    box-shadow: 0 8px 15px rgb(0 0 0 / 20%);
    
}

.buttons__home button:first-child {
    display: flex;
    column-gap: 5px;
    width: 290px;
    background: var(--text-color);
    color: var(--background-input);
}


.buttons__home button:first-child:hover {
    color: var(--button-color);
    transition: all 0.5s ease-out;
}

.buttons__home button:nth-child(2) {
    background: var(--background-input);
    color: var(--text-color);
}

.buttons__home button:nth-child(2):hover {
    background-color: hsl(220,7.7%,22.9%);
    transition: all 0.5s ease-out;
}

.section__info {
    display: flex;
    justify-content: center;
}

.container__info__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 122px;
    max-width: 1260px;
    height: 100%;
    align-items: center;
}

.image__3 {
    width: 678px;
    height: 440px;
}

.text__image__3 {
    display: grid;
    grid-template-rows: 2fr 1fr;
    row-gap: 24px;
}

.text__image__3 h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    color: var(--background-input);
}

.text__image__3 div p {
    font-size: 16px;
    line-height: 32.5px;
    font-weight: 400;

    color: var(--background-input);
    text-align: start;

}

.background__smoke {
    background: rgb(246, 246, 246);
}

.section__info__2 {
    display: flex;
    justify-content: center;
}

.container__info__2__grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 122px;
    max-width: 1260px;
    height: 100%;
    align-items: center;
}

.section__info__2 article h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;

    color: var(--background-input);
}

.section__info__2 article p {
    font-size: 19px;
    font-weight: 400;
    line-height: 32.5px;

    color: var(--background-input);
}

.text__info__2 {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.section__info__3 {
    display: flex;
    justify-content: center;
}

.container__info__3__grid {
    display: grid;
    max-width: 1260px;
    align-items: center;
    grid-template-columns: 2fr 1fr;
}

.text__info__3 {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.text__info__3 h2 {
    font-size: 49px;
    line-height: 57.6px;
    font-weight: 700;

    color: var(--background-input);
}

.text__info__3 p {
    font-size: 19px;
    font-weight: 400;
    line-height: 32.5px;

    color: var(--background-input);
}


.section__info__4 {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.container__info__4__grid {
    display: grid;
    grid-template-rows: 1fr 2fr;
    width: 1280px;
    align-items: center;
    justify-content: center;
}

.text__4 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
    row-gap: 24px;
}

.text__4 h2 {
    font-size: 60px;
    font-weight: 800;
    line-height: 70px;
    font-family: 'Anton', sans-serif;   

    color: var(--background-input);
}

.text__4 p {
    font-size: 19px;
    font-weight: 400;
    line-height: 32.5px;

    color: var(--background-input);
}

.container__info__4__grid img {
    width: 100%;
}

.section__info__5 {
    height: 285px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container__info__5 {
    display: grid;
    position: relative;
    align-items: center;
    justify-content: center;
    grid-template-rows: 1fr 1fr;
    row-gap: 40px;
}

.section__info__5 h2 {
    font-size: 31px;
    line-height: 38.4px;
    font-weight: 800;

    color: black;
}

.section__info__5 button {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    position: absolute;
    cursor: pointer;
    width: 275px;
    height: 56px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    border-radius: 40px;
    bottom: 0;
    left: 60px;
    border: none;
    background: var(--button-color);
    color: var(--text-color);
}

.section__info__5 img {
    position: absolute;
    z-index: -1;
    top: -2rem;
    left: -2.5rem;
    width: 490px;
}


.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 540px; 

    background: var(--background-input);
}

.container__footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    max-width: 1280px;
    column-gap: 80px;

    padding-bottom: 50px;
    border-bottom: 2px solid var(--button-color);
}

.contact__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.contact__footer h4 {
    font-size: 32px;
    font-weight: 900;
    line-height: 30.4px;
    text-transform: uppercase;
    color: var(--button-color);

}

.contact__footer .language {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 10px;

    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    cursor: pointer;

    color: var(--text-color);

}

.socials__footer {
    width: 100%;
    display: flex;
    column-gap: 18px;

    color: var(--text-color);
}

.socials__footer svg {
    cursor: pointer;
}

.produtos__footer,
.empresa__footer,
.recursos__footer,
.politica__footer {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.produtos__footer h5, 
.empresa__footer h5, 
.recursos__footer h5,
.politica__footer h5 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: var(--button-color);
}

.produtos__footer a,
.empresa__footer a,
.recursos__footer a,
.politica__footer a {
    text-decoration: none;
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;

    color: var(--text-color);
}

.produtos__footer a:hover,
.empresa__footer a:hover,
.recursos__footer a:hover,
.politica__footer a:hover {
    text-decoration: underline;
}


.logo__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    max-width: 1280px;
    width: 100%;
    height: 100px;
}

.logo__footer svg {
    color: var(--text-color);
}

.logo__footer button {
    cursor: pointer;
    width: 125px;
    height: 38px;

    font-size: 14px;
    font-weight: 500;
    line-height: 24px;

    border: none;
    border-radius: 20px;


    background: var(--button-color);
    color: var(--text-color);
}